figures/*
Test/figures/*
Test/saved/*

archive/*
saved/*
figures/*
data/*
Logs/*
archive.zip
*.zip

.DS_store

.ipynb_checkpoints/*
*/.ipynb_checkpoints/*
*/*/.ipynb_checkpoints/*
*/*/*/.ipynb_checkpoints/*
__pycache__/*
*/__pycache__/*
.idea
__pycache__

*.eps
*.png
!pycharm/sleep_data/results/*
!pycharm/sleep_data/results/*/*

*.csv
*.txt
*.pt
!saved/LIF/12-31_10-51-36-589/LIF_exp_auto_encode_random_seed_23.pt
!saved/NLIF/12-31_10-52-10-075/NLIF_exp_auto_encode_random_seed_23.pt
._*.mat

sbi-logs/*

*tensorboard_runs/*
*.tf*